              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#research">
                      Research
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#program">
                      GIS
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#gis">
                      GIS
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      Reading
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#film">
                      Film
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#music">
                      Music
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#photo stories">
                      Photo Stories
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
