            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/haidaoxiaofei">
                  GitHub
                </a>
              </li>
              </li>
              <li>
                <a href="http://www.weibo.com/u/1178432142">
                  Sina Weibo
                </a>
              </li>
              <li>
                <a href="http://www.v2ex.com/?r=haidaoxiaofei">
                  V2EX
                </a>
              </li>
              <li>
                <a href="http://www.ruanyifeng.com/blog/">
                  Ruanyifeng's Blog
                </a>
              </li>
              <li>
                <a href="http://gmission.github.io">
                  Homepage of gMission
                </a>
              </li>
            </ul>
