          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                Archives
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                Q&A
              </a>
            </li>
            <li>
              <a href="https://github.com/haidaoxiaofei?tab=repositories">
                Projects
              </a>
            </li>
            <li>
              <a href="http://cn.linkedin.com/pub/peng-cheng/66/56b/a6/">
                About
              </a>
            </li>
          </ul>
